body{
    display: flex;
    flex-direction: column;
    margin: 0px;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
}
#cubo{
    width: 100px;
    height: 100px;
    perspective: 500px;
    transform-style: preserve-3d;
    perspective-origin: top;
    position: relative;
    animation-name: cubo;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}
/*@keyframes cubo {
    0%{
        margin-top: -300px;
        margin-left: -50px;
    }
    75%{
        margin-top: 500px;
        margin-left: -50px;
    }
    81%{
        margin-top: 400px;
        margin-left: 175px;
    }
    87%{
        margin-top: 300px;
        margin-left: 450px;
    }
    93%{
        margin-top: 400px;
        margin-left: 725px;
    }
    100%{
        margin-top: 500px;
        margin-left: 1000px;
    }
}*/
@keyframes cubo{
    0%{
        transform: translate(-100px, -300px);
    }
    75%{
        transform: translate(-100px, 250px);
    }
    88%{
        transform: translate(325px, 100px);
    }
    100%{
        transform: translate(550px, 250px);
    }
}
.faccia{
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 14pt;
    position: absolute;
    border: solid 1px black;
}
.anteriore{
    background-color: rgba(125,0,0,0.75);
    transform: translateZ(50px);
}
#cubo:has(.anteriore:hover){
    transform: rotate3d(0,1,0,45deg);
}
.destra{
    background-color: rgba(200,0,0,0.75);
    transform: rotateY(90deg) translateZ(50px);
}
.sinistra{
    background-color: rgba(200,0,0,0.75);
    transform: rotateY(-90deg) translateZ(50px);
}
.posteriore{
    background-color: rgba(200,0,0,0.75);
    transform: translateZ(-50px);
}
.superiore{
    background-color: rgba(200,0,0,0.75);
    transform: rotateX(90deg) translateZ(50px);
}
.inferiore{
    background-color: rgba(200,0,0,0.75);
    transform: rotateX(90deg) translateZ(-50px);
}